<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xpluscloud.moses_apc">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />                  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
    <uses-permission android:name="android.permission.READ_CONTACTS"/>               
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/assets_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:name="com.xpluscloud.moses_apc.MyApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.xpluscloud.moses_apc.BootStrapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xpluscloud.moses_apc.TakePhotoActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.xpluscloud.moses_apc.RetailDataActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.MerchandisingActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.IssuesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.TakePhotoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.IssuesHistory"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.StartActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:label="Customer List">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerAddEditActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/assets_edit"
            android:label="Edit Customer"
            android:windowSoftInputMode="stateHidden">
        </activity>


        <activity
            android:name="com.xpluscloud.moses_apc.CoveragePlanListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/cplan96"
            android:label="Coverage Plans"
            android:windowSoftInputMode="stateHidden">
            <!--android:theme="@style/datePickerDialog"      -->
        </activity>


        <!--<activity -->
        <!--android:name=".XPLoadingActivity"                                                        -->
        <!--android:screenOrientation="portrait" -->
        <!--android:configChanges="keyboardHidden|orientation|screenSize">-->
        <!---->
        <!--</activity>-->

        <activity
            android:name="com.xpluscloud.moses_apc.InOutActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.InOutFusedActivity"
            android:screenOrientation="portrait"

            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.IOListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.BarcodeScanner"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CheckListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CollectionActivity"
            android:icon="@drawable/collection"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerCallActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerCallSummary"
            android:screenOrientation="portrait"
            android:icon="@drawable/summary"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerCallListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CompetitorPricingActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CompetitorsItemList"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CollectibleListActivity"
            android:icon="@drawable/collection"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ResendActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.DeliveryListActivity"
            android:icon="@drawable/delivery96"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>



        <activity
            android:name="com.xpluscloud.moses_apc.GetSignatureActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.GetSignatureListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.UploadSignatureActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.UploadPictureActivity"
            android:icon="@drawable/uploadpic96"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>



        <activity
            android:name="com.xpluscloud.moses_apc.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.LostPasswordActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <!--<activity-->
        <!--android:name=".CallBackActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize">-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".FileDirectory"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize">-->
        <!--</activity>-->

        <activity
            android:name="com.xpluscloud.moses_apc.MarkLocationActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.MarkFusedLocationActivity"
            android:screenOrientation="portrait"
            android:icon="@drawable/mark_location48"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.MarkLocationListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.SyncActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.OutboxListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ExpiredActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ItemListActivity" >

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ItemOrderActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CalendarActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <!--<activity -->
        <!--android:name=".SalesOrderListActivityOld" >-->
        <!---->
        <!--</activity> -->

        <activity
            android:name="com.xpluscloud.moses_apc.PopUpActivity" >

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CallSheetActivity"
            android:icon="@drawable/callsheet96"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CallSheetActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CallSheetListActivity"
            android:icon="@drawable/callsheet96"
            android:configChanges="keyboardHidden|orientation|screenSize">


        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ReturnListActivity"
            android:icon="@drawable/product_return"
            android:configChanges="keyboardHidden|orientation|screenSize">


        </activity>

        <!--<activity -->
        <!--android:name=".SalesOrderSummaryActivity" -->
        <!--android:configChanges="keyboardHidden|orientation|screenSize">-->
        <!---->
        <!--</activity> -->

        <activity
            android:name="com.xpluscloud.moses_apc.TableViewActivity" >

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.NewCompPrice"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CustomerDataActivity2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/assets_edit"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ProfileListActivity">
            <!--android:theme="@android:style/Theme.Dialog" >-->

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.ProfileActivity" >

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.AboutActivity" >

        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.ReturnActivity"
            android:icon="@drawable/product_return"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.TruckActivity"
            android:icon="@drawable/product_return"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.WarehouseActivity"
            android:icon="@drawable/product_return"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="com.xpluscloud.moses_apc.CallSheetManager"
            android:icon="@drawable/csmanager"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name="com.xpluscloud.moses_apc.CallSheetServeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity android:name="com.xpluscloud.moses_apc.SurveyActivity" />
        <activity android:name="com.xpluscloud.moses_apc.PromotionsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.Brochure01"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.SummaryStatusWeb"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.DemandAnalysisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.TargetSalesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.ImageViewActivity" />
        <activity android:name="com.xpluscloud.moses_apc.StoretypeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.CustomerProfileActivity" />
        <activity android:name="com.xpluscloud.moses_apc.SalescallListActivity" />
        <activity android:name="com.xpluscloud.moses_apc.CallSheetActivity4"
            android:icon="@drawable/callsheet96"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.xpluscloud.moses_apc.InventoryActivity"
            android:label="Inventory"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.xpluscloud.moses_apc.PromoActivity"
            android:label="Promos"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.xpluscloud.moses_apc.CompetitorActivity2"
            android:label="Competitor Pricing"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.xpluscloud.moses_apc.ItemListActivity2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.xpluscloud.moses_apc.CompetitorActivityList2"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.xpluscloud.moses_apc.PDFViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <!--<activity android:name=".SimpleScannerActivity" />-->


        <service android:enabled="true"  android:name="com.xpluscloud.moses_apc.MyLocationService"/>
        <service android:enabled="true"  android:name="com.xpluscloud.moses_apc.DispatcherService"/>
        <service android:enabled="true"  android:name="com.xpluscloud.moses_apc.FusedLocationService"/>



        <!--<service-->
        <!--android:name=".ReceiveUpdatesIntentService"-->
        <!--android:label="@string/app_name"-->
        <!--android:exported="false"></service>-->

        <!--   <service android:enabled="true"  android:name=".SendCommandService"/> -->

        <receiver android:enabled="true" android:name="com.xpluscloud.moses_apc.AutoRun"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.xpluscloud.moses_apc.SMSReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter android:priority="10" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xpluscloud.moses_apc.RestartService"
            android:enabled="true"
            tools:ignore="ExportedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="restartService" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xpluscloud.moses_apc.MyFirebaseMessagingService"
            tools:ignore="ExportedService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>